@{
    ViewBag.Title = "Home Page";
}

<h3 style="text-align:center;">Welcome to Cigar & Alcohol shop</h3>
<hr />
<div style="text-align:center;">
    <img src="~/Pics/Cigars_and_Whiskey_Wallpaper.jpg" height="562" width="900"/>
</div>
